@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../assets/fundogeografico.png");
    background-size: cover;
    color: white;
    text-align: center;
    
    
}

.legenda__login{

    padding-bottom: 2vh;


}


.div__email{
    padding-bottom: 2rem;
    

}

.input__email{
    width: 30vh;
    background:none;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 1vh;
    color: white;
    
}

#icon__pessoa{

    justify-content: center;

}

.input__senha{
width: 30vh;
    background:none;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 1vh;
    color: white;
}

.caixa__inputs{
    border: 2px solid gray;
    padding: 10vh 5vh 10vh 5vh  ;
    border-radius: 20px;
    

}

.div__senha{

    padding-bottom: 1vh;

}


.div__lembra{
    padding-top: 2px;
    padding-bottom: 2vh;
    
}

.link__esqueci{

    text-decoration: none;
    color: white;
    font-weight: 600;

}

.div__botao{
    padding-bottom: 2vh;

}

.botaoLogar{
    padding: 0.5vh 7vh ;
    background:rgb(141, 140, 140);
    color: white;
    transition:transform 0.3s ease-in-out;
    border-radius: 10px;
}

.botaoLogar:hover{
    transform:scale(1.10);
    background-color: white;
    color: black;
    

}
.cadastrese{
   padding-top: 2vh; 

    

}
